/* about.css */

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 20px; /* Ajusta según sea necesario */
}

.card {
    max-width: 330px;
    width: 100%;
    border-width: 2px;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
    background-color: transparent; /* Fondo transparente */
}

.cardIcon {
    box-size: 40px;
    align: center;
    justify: center;
    color: white;
    border-radius: 50%;
    background-color: gray.700;
}

.cardTitle {
    margin-top: 1rem;
    font-size: 1.25rem;
}

.cardDescription {
    margin-top: 1rem;
    font-size: 0.875rem;
}

.cardButton {
    margin-top: 1rem;
    font-size: 0.75rem;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    margin-top: -300px; /* Ajusta según sea necesario */
    margin-bottom: -20px; /* Ajusta según sea necesario */
    margin-left: center;

}